//about

#about{
  width: 100vw;
  height: 50vh;

  .about-header {
    width: 100%;
    height: 20vh;
    background: url('../imgs/kids-on-pg-hero-8.2015.jpg') no-repeat center center;
    background-size: cover;
    font-size: 2.5rem;
    color: $highlight;
    text-shadow: -2px 1px rgba(0,0,0,0.5);
  }

  h3 {
    width: 100%;
    text-align: center;
    @include specialFont;
  }
  p {
    margin: 5%;
    width: 90%;
  }
}